.container {
  display: flex;
  animation: mask-up;
  position: relative;
  column-gap: 20px;
  mask-composite: exclude;
  min-height: 95dvh;
  padding: 1%;
  min-width: 90%;
  scrollbar-width: none;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  padding: 2% 1%;
  row-gap: 20px;
}

@keyframes mask-up {
  to {
    mask-size:
      100% 120px,
      100% 100%;
  }
}

.body {
  composes: bgColor from "../colors.module.css";
  min-height: 100svh;
  scrollbar-width: none;
  row-gap: 10px;
}

.top {
  display: flex;
  column-gap: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.height {
  max-height: 80%;
}

.container > * {
  flex: 1 1 10%;
}

.input {
  composes: softWhite from "../colors.module.css";
  min-height: 80dvh;
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  background: rgba(236, 236, 236, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
  height: 90%;
}

.titleInput {
  composes: softWhite from "../colors.module.css";
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  background: rgba(236, 236, 236, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.8px);
  -webkit-backdrop-filter: blur(13.8px);
}

.post {
  composes: softerWhite from "../colors.module.css";
  background-color: oklch(0.1558 0.0456 260.37);
  padding: 3%;
  font-family: "Stack Sans Notch", sans-serif;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex-grow: 1;
  max-width: 60%;
  border-radius: 10px;
  position: relative;
  box-shadow: 5px 5px 2px oklch(0.2003 0.032 260.37);
}

.links {
  display: flex;
  align-items: center;
  min-width: 200px;
}

.links a {
  background-color: hsl(218, 36%, 05%);
  padding: 4% 9%;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-family: "Anton SC";
  margin-right: 10px;
  column-gap: 10px;
  text-decoration: none;
  color: oklch(70% 0 90);
}

.post > a:link {
  color: oklch(0.4466 0.0873 260.37);
}

.post pre {
  padding: 2%;
  border-radius: 10px;
  text-wrap: auto;
}

.iconButton {
  cursor: pointer;
  font-size: 20px;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.preview {
  display: flex;
  column-gap: 20px;
  max-height: 200px;
  justify-content: space-between;
}

.selectedContainer {
  width: 100%;
  min-height: 60dvh;
  overflow: hidden;
  display: flex;
  box-shadow: 5px 5px 2px oklch(0.2003 0.032 260.37);
  flex-direction: column;
}

.actions {
  max-width: 50px;
  display: flex;
  flex-direction: column;
  position: absolute;
  row-gap: 20px;
  right: 30px;
  top: 30px;
}

.selectedPost {
  display: flex;
  flex-direction: column;
  padding: 5% 2%;
  min-height: 70%;
  row-gap: 10px;
  max-width: 90%;
}

.selectedPost > * {
  min-height: 50%;
  max-width: 80%;
  text-wrap: pretty;
}

@media screen and (max-width: 800px) {
  .container {
    min-width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .post {
    min-width: 90%;
  }
  .container {
    flex-direction: column;
  }
}
